* {
    box-sizing: border-box;
    text-align: center;
  }
  
  body {
    font-size: 24px;
    line-height: 32px;
    color: #777;
  }

  .container {
    width: 1000px;
    margin: 0 auto;
  }

  
  header {
    padding: 20px;
    margin-bottom: 20px;
    color: #333;
    background: #FFA500;
  }
  
  section {
    padding: 20px;
    background: #FFA500;
    float: left;
    width: 500px;
    height: 300px;
  }
  
  #left {
    float: left;
    width: 33.3%;
    color: #fff;
    background: #30948D;
  }
  
  #middle {
    float: left;
    width: 33.3%;
    color: #fff;
    background: #9E1212;
  }
  
  #right {
    float: left;
    width: 33.3%;
    color: #fff;
    background: #30948D;
  }
  
  #full {
    width: 100%;
    overflow: auto;
    clear: both;
    color: #fff;
    background: #394549;
  }
  
  #division {
    padding: 20px;
    margin-top: 20px;
    background: #214fb3;
  }
  
  aside {
    float: left;
    width: 500px;
    height: 300px;
    padding: 20px;
    text-decoration-color: white;
    background: #a6b747;
    border: 1px solid #eee;
  }
  
  footer {
    padding: 20px;
    clear: both;
    background: #FFA500;
  }

  nav {
    background: purple;
    height: 50px;
  }
  
  article {
    background: #a6b747;
  }